<div class="comment-box">
  <div class="username">Comment by: <%=comment.author %></div>
  <div class="right-part">
    <div class="content"><%=comment.content %></div>
    <div class="add-date"><%=comment.created_at.strftime("%d %b %y at %I:%M%p") %></div>
  </div>
</div>
